.position{
    display: flex !important;
    flex-flow: column wrap !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50vh;
}

.titles{
    display: flex !important;
    flex-flow: row wrap !important;
    padding-bottom: 2vh;
}

.icon {
    font-size: 10.5vh !important;
    padding: 1vh 3vh 0 0;
}
